body {
  background-image: url("sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 56px;
  right: 30px;
  z-index: 99;
  font-size: 28px;
  border: none;
  outline: none;
  background-color: #ff7733;
  color: black;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
